@import url(https://fonts.googleapis.com/css?family=Roboto:300);

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 100px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input[type=text]{
    outline: 0;
  background: #f2f2f2;
  width: 300px;
  border: 0;
  margin: 0 0 15px;
  padding: 10px;
  font-size: 12px;
  border-radius: 0 5px 5px 0;
}
input[type=button],[type=submit]{
    outline: 0;
  background: #333;
  width: 100px;
  border: 0;
  margin: 0 0 15px 0;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  
}

li a:hover {
    background-color: #111;
}
body {
    background-color: white;
    font-family: "Roboto",sans-serif;}
.button {
  text-transform: uppercase;
  outline: 0;
  background-color: #333;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.login-page {
  width: 360px;
  padding: 8% 0 0 0;
  margin: auto;
}
.form {
  position: relative;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 0 100px 0;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px 0;
  padding: 15px;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

